<h1>Editing Regional Pros Office</h1>

<%= render 'form', regional_pros_office: @regional_pros_office %>

<%= link_to 'Show', @regional_pros_office %> |
<%= link_to 'Back', regional_pros_offices_path %>
