/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

div.paddedSides {
  padding-right: 15vw;
  padding-left: 15vw;
  padding-top: 15vh;
}

div.paddedTop {
  padding-top: 100px;
}

li.padded {
  padding-left: 0.5vw;
}

.navbar-light:hover {
  color: darkorange;
}

nav.menu {
  background-color:rgba(249, 249, 249, 0.4);
}

nav.menu a:hover{
  color: darkorange;
}

.makeOrange {
  color: black;
}

.makeOrange:hover {
  color: darkorange;
}

body {
	background-image: image_url("fondo.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #f0f3f8;
    font-family: 'Ubuntu', sans-serif;
}
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}
