<div class="row">
	<div class="col-sm-3 hidden-xs" style="border-right:#a7a7a7 solid 1px;">
		<h2>Temas</h2>
		<p>Tema 1</p>
		<p>Tema 2</p>
	</div>
	<div class="col-sm-9 hidden-xs" >
		<h2>Bandeja de Tareas</h2>
		
	</div>
</div>