<div class="card">
	<div class="card-header bg-info">
    <h2 class="text-white"><b>Bandeja de Tareas</b></h2>
	</div>
	<div class="card-body">
		<div class="row" style="background: #FFFFFF;">
			<div class="col-sm-3 hidden-xs" style="border-right:#FF8C00 solid 2px">
				<%= image_tag("logo_fiscalia.png", class: 'img-thumbnail', width: '70%', style: 'margin: auto; display: block; margin-top: 10%') %>
				<h2 class="text-center" style="margin-bottom: 10%"><strong><%= current_user.name %></strong></h2>
        <div class="btn-group-vertical btn-block" style="padding-top: 0.1vw; overflow: auto;">
					<button class="btn btn-outline-secondary" onclick="alert('Aqui se agregan entidades.')">Agregar Entidades</button>
					<button class="btn btn-outline-secondary" onclick="alert('Aqui se ven las tareas historicas.')">Tareas Historicas</button>
					<button class="btn btn-outline-secondary" onclick="alert('Aqui se administran los usuarios.')">Administrar Usuarios</button>
        </div>
			</div>
			<div class="col-sm-9 hidden-xs">
				<div class="container">
					<table id="myTable" class="table table-responsive table-striped table-sm">
						<thead>
							<tr>
								<th>Tarea</th>
								<th>Tema</th>
								<th>Fecha Estimada</th>
								<th>Prioridad</th>
								<th>Privacidad</th>
								<th>Estado</th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody id="myTable">
							<tr>
								<td>Recopilacion Evidencia</td>
								<td>El Cucharero</td>
								<td>21/12/2018</td>
								<td>Urgente</td>
								<td>Secreto</td>
								<td>Abierta</td>
								<td><button type="button" class="btn btn-secondary" style="width:90px" onclick="alert('Aqui se entra a la tarea.')">Entrar</button></td>
							</tr>
							<tr>
								<td>Conferencia de Prensa</td>
								<td>El Cucharero</td>
								<td>21/12/2018</td>
								<td>Media</td>
								<td>Publico</td>
								<td>Abierta</td>
								<td><button type="button" class="btn btn-secondary" style="width:90px" onclick="alert('Aqui se entra a la tarea.')">Entrar</button></td>
							</tr>
							<tr>
								<td>Arriendo Centro de Eventos</td>
								<td>Proyecto Avanza</td>
								<td>03/04/2019</td>
								<td>Urgente</td>
								<td>Publico</td>
								<td>Abierta</td>
								<td><button type="button" class="btn btn-secondary" style="width:90px" onclick="alert('Aqui se entra a la tarea.')">Entrar</button></td>
							</tr>
							<tr>
								<td>Audiencia Juridica</td>
								<td>Caso Farmaceuticas</td>
								<td>17/02/2019</td>
								<td>Baja</td>
								<td>Publico</td>
								<td>Abierta</td>
								<td><button type="button" class="btn btn-secondary" style="width:90px" onclick="alert('Aqui se entra a la tarea.')">Entrar</button></td>
							</tr>
							<tr>
								<td>Imprimir Flyers</td>
								<td>Puntualidad en Reuniones</td>
								<td>07/02/2019</td>
								<td>Baja</td>
								<td>Publico</td>
								<td>Abierta</td>
								<td><button type="button" class="btn btn-secondary" style="width:90px" onclick="alert('Aqui se entra a la tarea.')">Entrar</button></td>
							</tr>
							<tr>
								<td>Reunion con Comisario</td>
								<td>Coordinacion Policial</td>
								<td>21/04/2019</td>
								<td>Media</td>
								<td>Privada</td>
								<td>Revision</td>
								<td><button type="button" class="btn btn-secondary" style="width:90px" onclick="alert('Aqui se revisa a la tarea.')">Revisar</button></td>
							</tr>
							<tr>
								<td>Reunion Fica-Com</td>
								<td>Ingenieria de Software</td>
								<td>05/11/2019</td>
								<td>Urgente</td>
								<td>Privada</td>
								<td>Revision</td>
								<td><button type="button" class="btn btn-secondary" style="width:90px" onclick="alert('Aqui se revisa a la tarea.')">Revisar</button></td>
							</tr>
							<tr>
								<td>Entrega Final</td>
								<td>Ingenieria de Software</td>
								<td>10/11/2018</td>
								<td>Urgente</td>
								<td>Publico</td>
								<td>Abierta</td>
								<td><button type="button" class="btn btn-secondary" style="width:90px" onclick="alert('Aqui se entra a la tarea.')">Entrar</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>