<div class="row" style="border-top:#a7a7a7 solid 1px;">
	<div class="col-sm-3 hidden-xs" style="border-right:#a7a7a7 solid 1px;">
		<div class="navbar-header">
		  <a class="navbar-brand" >Opciones</a>
		</div>
		<ul class="nav flex-column">
		  <li class="nav-item">
		    <a class="nav-link" href="#">Instancias de Tema</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Entidades</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Tareas Historicas</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Administrar Usuarios</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Bitacora de Errores</a>
		  </li>
		</ul>
	</div>
	<div class="col-sm-9 hidden-xs" >
		<h2>Bandeja de Tareas</h2>
		
	</div>
</div>
